{% extends "EasyExam/Base.html" %}
{% block title %}Exam Selection{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-title">Upcoming Exams</h4>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for exam_group in upcoming_exam_groups %}
                                <li class="list-group-item">
                                {{ exam_group.name }}<span class="float-right">{{ exam_group.exam_date }}</span>
                                    <ul class="list-group">
                                        {% for exam in exam_group.exam_set.all %}
                                            <li class="list-group-item list-group-item-action">
                                            <a href="{% url "EasyExam:take_exam" exam.id %}">
                                                {{ exam.name }} at {{ exam.exam_start_time }}
                                            </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-title">Exams Registered</h4>
                    <div class="card-body">
                        <ul class="list-group">
                        {% for exam_group in registered_exam_groups %}
                            <li class="list-group-item">
                                {{ exam_group.name }}<span class="float-right">{{ exam_group.date }}</span>
                                <ul class="list-group">
                                    {% for exam in exam_group.exams %}
                                        <li class="list-group-item list-group-item-action">
                                        {% if exam.completed %}
                                            <a href="{% url "EasyExam:exam_results" exam.id %}">
                                                {{ exam.name }} <span {% if exam.grade == "Fail" %}class="text-danger"{% else %}class="text-success"{% endif %}>{{ exam.grade }}</span> {{ exam.achieved_marks }}/{{ exam.total_marks }}
                                            </a>
                                        {% else %}
                                            <a href="{% url "EasyExam:take_exam" exam.id %}">
                                                {{ exam.name }} at {{ exam.date }}
                                            </a>
                                        {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}